In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df=pd.read_csv('smoking data.csv')

In [3]:
df.head()

      region  age     sex     bmi  children smoker
0  southwest   19  female  27.900         0    yes
1  southeast   18    male  33.770         1     no
2  southeast   28    male  33.000         3     no
3  northwest   33    male  22.705         0     no
4  northwest   32    male  28.880         0     no

In [5]:
x=df.drop('smoker',axis=1)
y= df['smoker']

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
from pandas.core.dtypes.common import is_numeric_dtype

In [8]:
for column in x.columns:
    if is_numeric_dtype(x[column]):
        continue
    else:
        x[column] = le.fit_transform(x[column])

In [9]:
from sklearn.model_selection import train_test_split as tts
xtrain , xtest , ytrain, ytest = tts(x,y,train_size=.70,random_state=1)

In [10]:
xtrain

      region  age  sex     bmi  children
744        1   50    1  26.410         0
363        3   21    0  26.400         1
10         0   25    1  26.220         0
970        2   50    0  28.160         3
634        3   51    1  39.700         1
...      ...  ...  ...     ...       ...
715        3   60    1  28.900         0
905        0   26    0  29.355         2
1096       0   51    0  34.960         2
235        2   40    0  22.220         2
1061       2   57    1  27.940         1

[936 rows x 5 columns]

In [11]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()

In [12]:
clf.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [13]:
clf.predict(xtest)

array(['yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no', 'no',
       'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no',
       'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes',
       'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'yes', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'no',
       'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no'], dtype=object)

In [17]:
clf.score(xtest, ytest) # R Squared Value

0.6791044776119403

In [ ]:
clf.score(xtes, ytrain) # R Squared Value